
	background: var(--primary);
	color: white;
	border-radius: 50%;
	font-size: 12px;
	width: 24px;
	height: 24px;
}

.website-list {
	background-color: var(--fg-color);
	padding: 0 var(--padding-lg);
	border-radius: var(--border-radius-md);

	@media screen and (max-width: 567px) {
		margin-left: -2rem;
	}

	&.result {
		border-bottom: 1px solid var(--borde
	&:only-child, &:last-child {
		border: 0;
	}

	a.transaction-item-link {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		text-decoration: none;
		opacity: 0;
		overflow: hidden;
		text-indent: -9999px;
		z-index: 0;
	}
}

.pl
